@import "../../styles/variables.module.scss";

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 42px;
}

.underLine {
    color: $lightBlue;
}